{% extends 'base.html.twig' %}

{% block title 'Movie gallery' %}

{% block body %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">My Gallery</h1>
                <p class="lead text-muted">You can find the list of movies here. Try clicking on one of them to see more details.</p>
            </div>
            <div class="col-lg-6 col-md-8 mx-auto">
                {{ form_start(createOrEditMovieForm) }}
                    {{ form_widget(createOrEditMovieForm) }}
                    <button type="submit" class="btn btn-primary">{{ edit is same as(true) ? 'Edit' : 'Create' }}</button>
                {{ form_end(createOrEditMovieForm) }}
            </div>
        </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for movie in movies %}
                        <div class="col">
                            <div class="card shadow-sm">
                                {% if movie.isRemotePoster is same as(true) %}
                                <img src="{{ movie.poster }}" alt="Poster of {{ movie.title }}">
                                {% else %}
                                <img src="{{ asset('build/images/movies/' ~ movie.poster) }}" alt="Poster of {{ movie.title }}">
                                {% endif %}

                                <div class="card-body">
                                    <p class="card-text">
                                        {% for genre in movie.genres %}
                                            <span class="badge bg-dark">{{ genre }}</span>
                                        {% endfor %}

                                    <h3><a href="{{ path('app_movies_edit', {'slug': movie.slug}) }}"><i class="fa fa-edit"></i></a>{{ movie.title }}</h3>{{ movie.plot }}
                                    </p>
                                    <a href="{{ path('app_movie_detail', {slug: movie.slug}) }}">Voir plus</a>
                                    <div class="d-flex justify-content-between align-items-center">
                                        {#                                <div class="btn-group"> #}
                                        {#                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button> #}
                                        {#                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> #}
                                        {#                                </div> #}
                                        <small class="text-muted">{{ movie.releasedAt|date('Y') }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
